body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.9);
    color: white;
    padding: 10px 20px;
}

.dropdown-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
}

.center-text {
    text-align: center;
    color: #808080;
}

.pass-network-section {
    display: inline-block;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    width: 100%;
    /* background-color: rgba(20, 20, 20, 0.9); */
}

/* .player-passes-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
} */

.shots-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}


.pitch-graphs-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 100%;
    /* padding: 20px; */
    background-color: rgba(20, 20, 20, 1);
}


#pass-network-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 50%;
    margin-left: 20px;
}

#radar-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
}


.passes-and-shots-section {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    /* padding: 20px; */
    background: rgba(20, 20, 20, 1);
}

.player-passes-section {
    width: 50%; /* This makes it take up half the width of its parent */
    background: rgba(20, 20, 20, 1);
}

.shots-section {
    width: 50%; /* This makes it take up half the width of its parent */
    background: rgba(20, 20, 20, 1);

}

.shots-bubble-section {
    display: flex; /* This makes its immediate children flex items */
    background: rgba(20, 20, 20, 1);
}

.shots-bubble-chart {
    width: 50%; /* This makes it take up half the width of its parent */
    background: rgba(20, 20, 20, 1);
}